header {
  background-color: var(--color2);
  font-family: bold;
  height: 80px;

  nav {
    width: 75%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row-reverse;
    gap: 12px;
    a {
      color: white;
      font-size: 16px;
      padding: 0 16px;
      &.active {
        color: var(--color3);
      }
    }
  }
}
